# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
.env

# Jupyter
.ipynb_checkpoints/

#Data
/data/

# OS
.DS_Store


# MLflow
mlruns/
mlartifacts/

# DVC cache and temp (keep .dvc folder for config)
.dvc/cache/
.dvc/tmp/
.dvc/config.local

# Data (tracked by DVC)
/data/
datasets/
*.csv
*.zip

# Models (tracked by DVC)
models/*.pt
models/*.pth
models/*.h5
models/*.pkl
!models/.gitkeep
!models/*.dvc
!models/metrics.json

# Logs
logs/
*.log

# Coverage
.coverage
htmlcov/

# Docker
*.tar

